/* Style Settings for Google Maps API */
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 200px;
        width: 100%;
      }

/* Style Settings for Weather API */
       #weather {
        text-align: center;

      }

      /* -------------------------------------------------------------------- */
      h1 {
        color: rgb(36, 159, 235);
        font-family: 'Times New Roman', Times, serif;
        font: bolder;
        font-size: 50px;
        text-align: center;
    }
    .weathertext {
        margin-right: 60%;
    }

    

    .carousel {
      padding: 0;
      margin: 0;
    }

    p {
      text-align: center;
      color: firebrick;
      font-size: 20px;
    }

    /* Weather class for the div. Since it needed styling. */
    .weather {
      color: grey;
      font-size: 20px;
      line-height: 40%;
    }
    #weatherPara {
      line-height: 130%;
    }
nav {
  position: fixed;
  z-index: 500;
  background-color: lightskyblue;
  color: black;
}

h3 {
  color: rgb(36, 159, 235);
  font-family: 'Times New Roman', Times, serif;
  font: bolder;
  font-size: 20px;
  text-align: center;
}

.card-title {
  font-size: 22px;
}

.card-content {
  font-size: 22px;
}
  

/*TILT*/
.card {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.card:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.btn {
  background-color: darkorchid;
  color: aliceblue;
  margin-left: 17%;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  font-size: 25px;
}

.btn:hover {
  background-color: aliceblue;
  color: darkorchid;

}

::placeholder {
  color: black;
  background-color: white;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
}

/* Footer with copyright, white text, and blueviolet background, and sticking to the bottom with no white space. */
.footer-copyright {
  text-align: center;
  color: white;
  font-size: 16px;
  padding-top: .5%;
  padding-bottom: 5%;
  margin-bottom: 1;
  background-color: blueviolet;
  position: sticky;
  height: 12;
}

#loadResults {
  height:20px; 
  width:100px; 
  margin: -20px -50px; 
  position:relative;
  top:50%; 
  left:50%;
}
