      /* Style Settings for Google Maps API */
      /* ---------------------------------------------------------------------- */
      /* Always set the map height explicitly to define the size of the div element that contains the map. */
       #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      /* -------------------------------------------------------------------- */
      h1 {
        color: rgb(36, 159, 235);
        font-family: 'Times New Roman', Times, serif;
        font: bolder;
        font-size: 50px;
        padding-right: 30%;
    }
    p {
        color: red;
    }
    
    .parallax-container {
        padding-right: 30%;
    }